
.check {
  display: flex;
  background: var(--gray-500);
  height: 4.5rem;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 12px;
  justify-content: space-between;                      
  word-break: break-all;
  cursor: pointer;
  height: auto;
}

.check span {
  flex: 1;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 38rem;
 margin-right: auto;
}

.check button {
  border: 0px;
  background: var(--gray-500);
  width: 12.48px;
  height: 14px;
  cursor: pointer;
 margin-left: 38px;
}

.checkTrue:first-of-type  {
  color: var(--blue);
  margin-top: 2px;
  margin-right: 15.27px;
}

.checkFalse:first-of-type  {
   color:var(--blue);
   margin-top: 2px;
   margin-right: 15.27px;
}

.textCheckTrue:first-of-type  {
  color: var(--gray-300);
  text-decoration: line-through;
}

